<!DOCTYPE html>
<!--
        To change this license header, choose License Headers in Project Properties.
        To change this template file, choose Tools | Templates
        and open the template in the editor.
-->
<html>
<head>
    <meta charset="UTF-8">
    <title>Fondo</title>   
    <link href="../css/login.css" rel="stylesheet" type="text/css"/>
</head>
<body onload="redire()">
        <script>
            function redire() {debugger;
                sessionStorage.setItem("errorHtml",404);
                var y = document.URL.split("/");
//                if(window.parent.location.ancestorOrigins.length!==0){
//                    for(var i=0;i<window.parent.parent.location.ancestorOrigins.length;i++){
//                         window.parent.location.href = y[0] + "//" + y[2] + "/" + y[3]
//                    }
//                    
//                }else{
                   window.parent.location.href = y[0] + "//" + y[2]; 
//                }
                
            }
        </script>
    </body>
</html>
